---
import { getCollection, render } from 'astro:content'
import { SHOW_BUY_BUTTON } from 'astro:env/server'
import Layout from '@/layouts/Layout.astro'
import BuyButton from '@/components/BuyButton.astro'
import BookScore from '@/components/BookScore.astro'

export async function getStaticPaths() {
  const books = await getCollection('books')

  return books.map((book) => ({
    params: { slug: book.slug },
    props: { book }
  }))
}

const { book } = Astro.props
const { data, slug } = book
const { title, author, img, readtime, description, buy } = data

const { Content } = await render(book)

export const prerender = true
---

<Layout title={`${title} - Dev Books`}>
  <div class="container">
    <aside>
      <a class="go-back" href="/">← Volver atrás</a>
      <img src={`/${img}`} alt={title} transition:name={`img-${slug}`} />

      <BookScore server:defer id={slug}>
        <span class="fallback-text" slot="fallback">Cargando puntuación...</span>
      </BookScore>

      {
        SHOW_BUY_BUTTON && (
          <BuyButton server:defer buy={buy}>
            <BuyButton slot="fallback" buy={buy} />
          </BuyButton>
        )
      }
    </aside>

    <main>
      <h1>{title}</h1>
      <div class="book-content">
        <Content />
      </div>
    </main>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    gap: 2.5rem;
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & .go-back {
      color: #fff;
      text-decoration: underline;
      text-decoration-color: transparent;
      opacity: 0.7;
      transition: text-decoration-color 0.2s ease-in-out;
      width: fit-content;

      &:hover {
        text-decoration-color: currentColor;
      }

      & .arrow {
        display: inline-block;
        transform: rotate(180deg);
      }
    }

    & img {
      width: 18rem;
      height: auto;
      border-radius: 6px;
    }
  }

  .fallback-text {
    font-size: 0.75rem;
    margin-block: 0.5rem;
    text-align: center;
    opacity: 0.7;
  }

  main {
    max-width: 48rem;

    & h1 {
      margin: 0;
      margin-block: 1.25rem 1rem;
    }

    & .book-content {
      max-width: 75ch;
      color: #dedede;
      font-size: 0.925rem;
      line-height: 1.6;
    }
  }
</style>
