---
import { getCollection, render } from 'astro:content'
import Layout from '@/layouts/Layout.astro'

export async function getStaticPaths() {
  const books = await getCollection('books')

  return books.map((book) => ({
    params: { slug: book.slug },
    props: { book }
  }))
}

const { book } = Astro.props
const { data, slug } = book
const { title, author, img, readtime, description, buy } = data

const { Content } = await render(book)
---

<Layout title={`${title} - Dev Books`}>
  <div class="container">
    <aside>
      <a class="go-back" href="/">← Volver atrás</a>
      <img src={`/${img}`} alt={title} transition:name={`img-${slug}`} />
      <!-- enlace para comprar -->
    </aside>

    <main>
      <h1>{title}</h1>
      <div class="book-content">
        <Content />
      </div>
    </main>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    gap: 2.5rem;
  }

  aside {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    & img {
      width: 18rem;
      height: auto;
      border-radius: 6px;
    }
  }

  .go-back {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: transparent;
    opacity: 0.7;
    transition: text-decoration-color 0.2s ease-in-out;
    width: fit-content;

    &:hover {
      text-decoration-color: currentColor;
    }

    & .arrow {
      display: inline-block;
      transform: rotate(180deg);
    }
  }

  main {
    max-width: 48rem;

    & h1 {
      margin: 0;
      margin-block: 1.25rem 1rem;
    }

    & .book-content {
      max-width: 75ch;
      color: #dedede;
      font-size: 0.925rem;
      line-height: 1.6;
    }
  }
</style>
